* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			body {
				position: relative;
				background-image: url("img/pdip.jpg");
				background-size: cover;
				height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			img {
				height: 300px;
				padding: 20px;
			}

			
